body {
    font: 100%/1.5 Roboto;
    max-width: 140ch;
    text-align: center;
    margin-inline: max(1em, (100% - 140ch) / 2);
    background-color: #1C1C1E;
    color: #f5f5f7;
}

h1 {
    font-size: 2.5em;
    text-align: center;
    margin-top: 40px;
}

h2 {
    font-size: 1.5em;
}

.graphtitle{
    margin-top: 100px;
}

.reflection{
    margin-top: 200px;
}

.bodycolumns {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.leftcolumn {
    width: 45%;
}

.rightcolumn {
    width: 45%;
}

ul {
  list-style-type: none;
  padding-left: 0;
}